<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="LaunchChromeTest">
    <parameter name="browser" value="chrome"/>
    <classes>
      <class name="tyestNG.LaunchMultipleBrowserTest"/>
    </classes>
  </test>
  <test name="LaunchEdgeTest">
    <parameter name="browser" value="Edge"/>
    <classes>
      <class name="tyestNG.LaunchMultipleBrowserTest"/>
    </classes>
  </test>
  <test name="LaunchFirefoxTest">
    <parameter name="browser" value="firefox"/>
    <classes>
      <class name="tyestNG.LaunchMultipleBrowserTest"/>
    </classes>
  </test>
</suite> <!-- Suite -->
